<p style="color: green"><%= notice %></p>

<%= render "show_form", friend: @friend %>
<div class="mb-3">
  <%= link_to "Edit this friend", edit_friend_path(@friend), class: "btn btn-outline-success" %> |
  <%= link_to "Back to friends", friends_path, class: "btn btn-outline-dark" %>
</div>
<div>
  <%= link_to "Destroy", @friend, data: { turbo_method: :delete, turbo_confirm: "Are you shure"},
    class: "btn btn-outline-danger" %>
</div>
